<div class="container">
    <h2 class="display-5">About The Book</h2>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%= book.coverImagePath %>" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= book.title %></h5>
                <div>Author: <%= book.author.name %></div>
                <div>Publish Date: <%= book.publishDate.toDateString() %></div>
                <div>Page Count: <%= book.pageCount %></div>
                <div>Description: <%= book.description %></div>

                <a href="/books/<%= book.id %>/edit" class="btn btn-primary mt-3">Edit</a>
                <a href="/authors/<%= book.author.id %>" class="btn btn-primary mt-3">View Author</a>
                <%- include('../partials/deleteForm', { url: `/books/${book.id}`}) %>
            </div>
          </div>
        </div>
    </div>
</div>